* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2C2E43;
  font-family: 'Alegreya Sans', sans-serif;
  color: #fff;
}

header {
  display: block;
  background-color: #FFD523;
}

header h1 {
  display: flex;
  justify-content: center;
  color: #2C2E43;
}

header h1:hover {
  color: #EEEEEE;
}

section {
  margin-top: 40px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section p {
  font-size: 26px;
  margin: 10px;
}

#techno a {
  text-decoration: none;
}

#stats {
  display: flex;
  justify-items: center;
}