/* RESET & MAIN CONFIGS */
* { padding: 0; margin: 0; font-family: 'Open Sans', sans-serif; overflow-x: hidden;}
a { text-decoration: none; color: #fff;}

body { width: 100vw; background-color: #ddd; max-width: 100vw; }

/* HEADER */
header {
    position: sticky;
    top: 0;
    
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;

    background-color: #111;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    overflow-x: hidden;
}

header h1 {
    font-size: 30px;
    overflow: hidden;
    border-right: .15em solid #00d8ff;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
    typing 3.5s steps(30, end),
    blink-animation .5s step-end infinite;
}

@keyframes typing {
    from { width: 0% }
    to { width: 25% }
}

@keyframes blink-animation {
    from, to { border-color: transparent }
    50% { border-color: #FF851B }
}

/* CARDS */
#cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 50px 0px;

    background-color: #001f3f;
    color: #fff;
    cursor: alias;
}

#cards-section h2 {
    color: #FF851B;
    text-transform: uppercase;
}

.container-cards {
    display: flex;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 100px;

    width: 100px;
    height: 100px;
    margin: 30px 30px;
}

.cards i:hover {
    opacity: 0.8;
}

.cards ul li {
    list-style: circle;
}

/* QUEM SOU EU */
#quemsou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 50px 0px;

    background-color: #111111;
    color: #fff;
    cursor: alias;
}

#quemsou .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quemsou h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    flex-grow: 2;
}

#quemsou img {
    width: 300px;
    border-radius: 50%;
    margin: 0px 0px 40px 0px;
}

#quemsou img:hover {
    opacity: 0.9;
}

#quemsou p {
    text-align: center;
    max-width: 60%;
}

/* CONTATO */
#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 50px 0px;

    background-color: #001f3f;
    color: #fff;
    cursor: alias;
}

#contato h2 {
    color: #FF851B;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#contato .icons {
    display: flex;
    font-size: 70px;
}

#contato .icons i {
    margin: 0px 30px;
}

#contato .icons i:hover {
    opacity: 0.8;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 12px;

    background-color: #111111;
    color: #fff;
    cursor: alias;
}