<section class="flex flex-col gap-x-8 justify-center">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-semibold text-pretty">
    <p>
      Meu nome é Santiago, tenho 23 anos e sou natural de Montevidéu, Uruguai. Minha jornada na programação começou com um computador antigo que meu pai me deu, e desde então, nunca mais parei.
    </p>

    <p>
      Atualmente, atuo como <strong>engenheiro backend</strong> na maior empresa de tecnologia do Brasil.
    </p>

    <p>
      Entre meus sucessos destaco que durante o bacharelado de <em class="italic">Engenharia de Software</em>, ajudei
      meus colegas a aprenderem diversos conceitos de desenvolvimento e explorei diversos temas desde algoritmos
      avançados até IA's.
      Meu esforço e dedicação foram reconhecidos com o prêmio de <strong>Mérito Acadêmico</strong> pelo <em class="italic">CREA-SC (Brasil)</em>.
      Sou apaixonado tanto pelo desenvolvimento front-end quanto pelo back-end e tenho como objetivo compartilhar conhecimento e criar conteúdo de qualidade para a comunidade.
    </p>
  </div>
</section>
