---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Atualmente...",
    title: "Engenheiro Backend | TOTVS",
    description:
      "Como desenvolvedor no time de Financeiro Logística, meu foco está em desenvolver soluções SASS com Java.",
  },
  {
    date: "Dezembro 2023 - Abril 2025",
    title: "Engenheiro Fullstack | Conta Azul",
    description:
      "Como desenvolvedor no time de APIs, meu foco está nas tecnologias Java 8, Spring, AngularJS e Vue. Trabalho no desenvolvimento full-stack, criando componentes back-end eficientes e interfaces interativas responsivas. Contribuo trabalhando com micro-serviços e aplicações monolíticas.",
  },
  {
    date: "Abril 2023 - Dezembro 2023",
    title: "Analista de desenvolvimento | TOTVS",
    description:
      "Desenvolvo novas funcionalidades para o software da Gesplan. Atualmente estou desenvolvendo soluções para o módulo de Budget do produto. Atualmente estou desenvolvendo diversas novas telas, utilizando React junto com TypeScript e estilizações CSS com SASS. Desenvolvo funcionalidades do back-end da aplicação com Java utilizando Spring Boot, Liquibase, Wildfly e Maven.",
  },
  {
    date: "Março 2022 - Março 2023",
    title: "Desenvolvedor Full-Stack | Neomind",
    description:
      "Desenvolvo otimizações e customizações de software a partir de um software e framework próprio chamado de Fusion. Entre os diversos clientes que atuei cabe mencionar a PGM - Procuradoria-Geral do Município de Rio de Janeiro, Portobello e Tuper. Atualmente estou desenvolvendo diversas novas telas para o cliente PGM, utilizando AngularJS1.6 junto com Bootstrap e estilizações CSS customizadas, entre essas telas cabe destacar a criação de Dashboards e de modais customizadas. Desenvolvo o back-end da aplicação com Java (JAX-RS API), desenvolvendo as rotas da API no qual o front-end irá consumir e dar vida aos dados no qual as telas irão exibir para o cliente.",
  },
  {
    date: "Agosto 2021 - Março 2022",
    title: "Estagiário | Sizebay",
    description:
      "Atuo em implantações do sistema da Sizebay (Virtual Fitting Room) e order trackers nos servidores dos clientes, além de estilizar o produto base quando necessário a depender do cliente. O sistema da Sizebay é um sistema de provador virtual, onde o cliente pode experimentar as roupas de forma virtual, utilizando a tecnologia de realidade aumentada. O order tracker é um sistema que permite o cliente acompanhar o status do seu pedido, desde a compra até a entrega. O sistema da Sizebay é desenvolvido em Java e React.",
  },
  {
    date: "Outubro 2020 - Agosto 2021",
    title: "Estagiário | SZ Soluções",
    description:
      "Atuo no desenvolvimento de um sistema WMS (Warehouse Management System), o BeeStock. O sistema é desenvolvido em Node.js e React. O sistema é um sistema de gestão de armazém, onde o cliente pode gerenciar o estoque do seu armazém, desde a entrada até a saída dos produtos. O sistema possui diversas funcionalidades, como controle de estoque, gestão de pedidos, gestão de fornecedores e gestão de clientes. O sistema é desenvolvido em Node.js e React.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
